body{
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    
}

head {
    box-sizing: 0px;
}

meta {
    display: none;
}

.main {
    background-color: #148827;
    width: 50vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;

}

.texto {
    float: right;
    position: absolute;
    left: 450px;
    top: 250px;
}

.address {
    float: right;
    position: absolute;
    row-gap: 50px;
    left: 5px;
    top: 50px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    font-family: 'Times New Roman';
}

main {
    background-color: #aaaaaa3d;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    gap: 5px;
}

#foto {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid black;
    border: 20px;
    justify-content: center;
    align-items: center;
    
 }

span {
    color: black;
    
}

.nome {
    float: left;
    position: relative;
    left: 5px;
    bottom: 80px;
    font-size: 60px;
    font-weight: 800;
    font-family:'Times New Roman';
    margin-bottom: 20px;
    color: #148827;


}

a:link {
    text-decoration: none;
    color: white;
}

#sobre {
    font-size: 25px;
    font-weight: 600;
    font-family:'Times New Roman';
    color: black;
    margin-top: 8px;
    margin-right: 4px;
    margin-left: 3px;
    border: 1px solid black;
    border-radius: 20px;
    border-width: 3px;
    width: 110px;
    background-color: orangered;
    
}

#conhecimento {
    font-size: 25px;
    font-weight: 600;
    font-family:'Times New Roman';
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    border-width: 3px;
    width: 250px;
    background-color: orangered;
}

#objetivo {
    font-size: 25px;
    font-weight: 600;
    font-family:'Times New Roman';
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    border-width: 3px;
    width: 170px;
    background-color: rgb(255, 68, 0);
    
}

.objetivo-2 {
    float: left;
    position: absolute;
    left: 760px;
    font-size: 35px;
    justify-content: center;
    bottom: 360px ;
}

.objetivo-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    position: relative;
    left: 680px;
    top: 20px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Times New Roman';
    font-style: normal;
    word-spacing: 3px;

}

.conhecimento-2 {
    float: left;
    position: absolute;
    left: 680px;
    top: 210px;
    font-size: 35px;
    justify-content: center;
    bottom: 400px ;
}

 .conhecimento-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    position: relative;
    left: 650px;
    top: 70px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Times New Roman';
}

.Eu {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.contato {
    margin-top: 10px;
}

#icone {
    justify-content: space-between;
    margin-right: 10px;
    float: right;
    position: relative;
    left: 273px;
    border: 15px solid transparent;
    border-radius: 20px;
    margin-top: 50px;
   
}

.redes-sociais {
    display: flex;
    
    left: 500px;
    display: flex;
    text-align: center;
    
}

.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    float: left;
    position: absolute;
    top: 70px;
    border: 1px solid #148827;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    border-width: 5px;
    background-color: #148827 ;
}